{% extends 'base.html' %} {% load static %} {% block title_block %}
Login
{%endblock %} {% block body_block %}
<link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}" />

<div class="bg-color">
  <section class="section">
    <div class="spinner-border text-warning" role="status">
      <span class="sr-only">Loading...</span>
    </div>
    <div class="login content opacity">
      <div class="row justify-content-center">
        <div class="col-12 text-center mt-3 mb-3">
          <h2 class="heading-section">Login</h2>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-12">
          <div class="login-wrap p-0">
            <form id="login-form" method="post">
              {% csrf_token %}
              <div class="form-group">
                <input type="text" class="input-control" placeholder="Username" id="username" name="username" />
              </div>
              <div class="form-group">
                <input id="password" class="input-control" type="password" placeholder="Password" id="password"
                  name="password" />
                <i class="fa fa-eye-slash" id="toggle-password"></i>
                <p id="results" class="my-1 error"></p>
              </div>
              <div class="form-group">
                <button type="submit" id="login-button" class="input-control btn btn-primary submit px-3 mb-2">
                  Login
                </button>
              </div>
            </form>
            <p class="w-100 text-center">
              Need an account?
              <a href="{% url 'signup' %}">Signup</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
{% endblock %}