<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Create Note</title>
</head>

<body>
    <h1>Create Note</h1>
    <form method="post">
        {% csrf_token %}
        <label for="title">Title:</label><br>
        <input type="text" id="title" name="title"><br>
        <label for="tag">Tag:</label><br>
        <select id="tag" name="tag">
        {% for tag in tags %}
        <option value="{{ tag.name }}">{{ tag.name }}</option>
        {% endfor %}
      </select><br>
        <label for="content">Content:</label><br>
        <textarea id="content" name="content"></textarea><br>
        <input type="submit" value="Create">
    </form>
</body>

</html>


</html>